body{
    background: rgba(219, 34, 133, 0.849);
    font-family: 'Montserrat',sans-serif;
}
.container{
    background: #eee;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    height: 550px;
    padding: 32px 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 2, 3);
    justify-content: space-evenly;
}
.container .result{
    width: 100%;
    height: 150px;
}
.container .result p{
    text-align: right;
    font-size: 40px;
    overflow-y: auto;
}
.container .buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5em;
}
.container .buttons .button{
    cursor: grab;
    text-align: center;
    height: 60px;
    width: 60px;
    background: rgb(248, 241, 243);
    border-radius: 50%;
    box-shadow: 1px 1px rgb(206, 194, 194), 0px -1px rgb(206, 194, 194);
    color: rgb(0, 0, 0);
    display: grid;
    align-content: center;    
}
.container .buttons .zero{
    grid-column: 1/3;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px rgb(206, 194, 194), -2px -2px rgb(206, 194, 194);
}
.container .buttons .action-button{
    color: gray;
    font-weight: bold;
}
.container .buttons .calc-action-btn{
    color: rgb(235, 173, 60);
    font-weight: bold;
    font-size: 18px;
}
.container .buttons .num-button{
    font-family: cursive;
}
